@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
:root {
  --icon-st-color: #00f0ff;
  --back-ground-color: rgb(17, 17, 17);
}
.categories-container {
  transition: 0.4s;
  gap: 30px;
  transition: 0.4s;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* animation: appear linear; */
}

.category {
  width: 200px;
  height: 200px;
  gap: 30px;
  border: #585858 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition:
    background-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    transform 0.4s ease-in-out;
  padding: 40px;
  flex-direction: column;
  cursor: pointer;
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
  &:hover {
    background-color: var(--icon-st-color);

    box-shadow:
      0 0 8px #005bc1,
      0 0 8px #005bc1,
      0 0 8px #005bc1;
  }
}

.icon {
  font-size: 90px;
  transition: 0.3s;
}
.icon-inside-category {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff0000;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #710e0e;
  filter: drop-shadow(0 0 4px #005bc1);
}

.category:hover .icon {
  transform: scale(1.2);
}
.categories-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sentence-and-link-to-categories {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
  /* padding: 40px; */
}
.link-to-categories {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  margin-right: 50px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #5563fc;
    transform: translateX(-10px);
  }
}
.sentence1 {
  font-family: "Space_Grotesk", sans-serif;
  color: #ffffff;
  font-size: 28px;
  font-weight: 500;
  margin-left: 50px;
  text-shadow:
    0 0 5px #005bc1,
    0 0 10px #005bc1,
    0 0 20px #005bc1,
    0 0 30px #005bc1,
    0 0 40px #005bc1;
  background-color: transparent;
}
